@font-face {
    font-family: "Merriweather";
    src: url("../fonts/Merriweather_24pt-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Merriweather";
    src: url("../fonts/Merriweather_24pt-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Merriweather";
    src: url("../fonts/Merriweather_24pt-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}